mtest
mtest[23456]
testdb
mdb_copy
mdb_stat
mdb_dump
mdb_load
*.lo
*.[ao]
*.so
*.exe
*[~#]
*.bak
*.orig
*.rej
*.gcov
*.gcda
*.gcno
core
core.*
valgrind.*
man/
html/

msbuild/lmdb-tools
msbuild/lmdb.v120
msbuild/lmdb.v140
msbuild/lmdb.v141

msbuild/v120
msbuild/v140
msbuild/v141
